# ==============================================================================
# CONFIGURATION TEMPLATE
# ==============================================================================
# Petunjuk: Salin file ini menjadi 'odoo.conf' (cp odoo.conf.example odoo.conf)
# lalu sesuaikan nilainya dengan kebutuhan environment Anda.
# ==============================================================================

[options]
addons_path = /mnt/extra-addons/custom1
data_dir = /var/lib/odoo
admin_passwd = master_password
db_host = db
db_port = 5432
db_user = odoo
db_password = odoo
